<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- footer -->
<footer class = "footer">
    <div class = "footer-1">
        <ul class ="footer-1ul">
            <li><a href="#" style="color : yellow">개인정보 처리방침</a></li>
            <li ><a href="#" style="color: white">위치정보 이용약관</a></li>
            <li><a href="#" style="color: white">사이트맵</a></li>
            <li><a href="#" style="color: white">임차문의</a></li>
            <li><a href="#" style="color: white">고객문의</a></li>
            <li><a href="#" style="color: white">인재채용</a></li>
        </ul>
        <ul class ="footer-2ul">
            <li><a href="#" class ="fb"></a></li>
            <li><a href="#" class ="ig"></a></li>
            <li><a href="#" class ="yt"></a></li>
            <li><a href="#" class ="ks"></a></li>
            <li class ="si"><a href="#"><img src="img/Acc.png" alt="과학기술정보통신"></a></li>
        </ul>
        <div class ="footer-div">
            <ul class ="footer-3ul" >
                <li>한국맥도날드(유)</li>
                <li>대표이사: 앤토니 마티네즈</li>
                <li>사업자등록번호: 101-81-26409</li>
                <li>전화주문: 1600-5252</li>
            </ul>
            <p class="copy">COPYRIGHT © 2019 ALL RIGHTS RESERVED BY McDonald's.</p>
        </div>
    </div>
</footer>
</body>
</html>