<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="css/login.css">

</head>
<body>
</div>
<form class="login-form" action="/login" method="post">
    <h1><img src="img/macdonald.png"></h1>
    <h1>Macdonald</h1>
    <input class="txtb" type="text" name="username" placeholder="아이디">
    <input class="txtb" type="password" name="password" placeholder="비밀번호">
    <input class="login-btn" type="submit" value="Login">
    <button type=button class="login-btn2"onclick="location.href='Signup'; ">회원가입</button>
</form>
</div>
</body>
</html>