<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mcdonald</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/promotion.css">
  <link rel="stylesheet" type="text/css" href="css/header.css">
  <link rel="stylesheet" type="text/css" href="css/footer.css">
  <link rel="stylesheet" href="css/side.css">

</head>

<body>

<div class="wrapper">
  <!-- 헤더 -->
  <div th:replace="common/loginheader"></div>

  <!-- main sector -->
  <div class="main">
    <div class="main-banner">
      <ul>
        <li><img src="img/main/banner1.png" alt="1920x540"></li>
        <!--      <li><img src="img/main/banner2.png" alt="1920x540"></li>-->
        <!--      <li><img src="img/main/banner3.png" alt="1920x540"></li>-->
        <!--      <li><img src="img/main/banner4.png" alt="1920x540"></li>-->
        <!--      <li><img src="img/main/banner5.png" alt="1920x540"></li>-->
        <!--      <li><img src="img/main/banner6.png" alt="1920x540"></li>-->
        <!--      <li><img src="img/main/banner7.png" alt="1920x540"></li>-->
      </ul>
    </div>
  </div>
  <!--  main sector end-->

  <div class="contArea bgG">
    <div class="inner">

      <div class="content-title">
        <h2>Mcdonald's LIVE</h2>
      </div>

      <ul class="cardBanner" id="promotionList">
        <!-- 진행중 메뉴 -->
        <ul id="ingmenu">
          <li class="ing">
            <a class="ingpage1" data="345,1,N">
              <div class="tmb"><img src="img/main-body/live_01.png" alt="맥도날드 앱에서 만나는 달콤한 바닐라 라떼 무료 쿠폰!"></div>
              <div class="con">
                <strong class="tit">양상추 수급 불안정에 따른 <br>쿠폰제공 안내문</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="ing">
            <a>
              <div class="tmb"><img src="img/main-body/live_02.png" alt="딸기의 상큼함을 한 잔에!  딸기 칠러가 돌아왔다!"></div>
              <div class="con">
                <strong class="tit">매콤하고 진한 찐 아메리칸 소울! <br> NEW 스파이시 맥앤치즈 버거</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="ing">
            <a>
              <div class="tmb"><img src="img/main-body/live_03.png" alt="매콤하고 진한 찐 아메리칸 소울!  NEW 스파이시 맥앤치즈 버거"></div>
              <div class="con">
                <strong class="tit">딸기의 상큼함을 한 잔에! <br> 딸기 칠러가 돌아왔다!</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="ing">
            <a>
              <div class="tmb"><img src="img/main-body/live_04.png" alt="달콤! 바삭! 쫄깃! 츄러스 출시 새로운 해피 스낵 가을/겨울 시즌 오픈!"></div>
              <div class="con">
                <strong class="tit">육즙도 3배! 진한 풍미도 3배!<br>트러플 치즈버거 출시!</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="ing">
            <a class="ingpage1" data="325,5,N">
              <div class="tmb"><img src="img/main-body/live_05.png" alt="육즙도 3배! 진한 풍미도 3배! 트리플 치즈버거  컴백!"></div>
              <div class="con">
                <strong class="tit">달콤!바삭!쫄깃! 츄러스 출시<br>새로운 해피 스낵 가을/겨울 시즌 오픈!</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="ing">
            <a class="ingpage1" data="320,6,N">
              <div class="tmb"><img src="img/main-body/live_06.png" alt="스트로베리 2종 아이스크림 출시!"></div>
              <div class="con">
                <strong class="tit">스트로베리 2종 아이스크림 출시!</strong><span  ></span>
              </div>
            </a>
          </li>
          <!--   숨겨짐(1)     -->
          <li class="none">
            <a class="ingpage2" data="317,7,N">
              <div class="tmb"><img src="img/main-body/live_07.png" alt="신선한 맛 가득 담아 알래스카에서 왔다!필레 오 피쉬 출시!"></div>
              <div class="con">
                <strong class="tit">빅맥 스페셜 세트&<br>상하이버거 스페셜 세트 출시!</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="none">
            <a class="ingpage2" data="306,8,N">
              <div class="tmb"><img src="img/main-body/live_08.png" alt="0.1초에 1잔!  매일 마시는 커피를 더 맛있게"></div>
              <div class="con">
                <strong class="tit">갓 구워내 따뜻하고 신선한<br>베이컨 토마토 에그 머핀!</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="none">
            <a class="ingpage2" data="278,9,N">
              <div class="tmb"><img src="img/main-body/live_09.png" alt="디테일의 차이가 버거의 차이"></div>
              <div class="con">
                <strong class="tit">빨대가 필요 없는 뚜껑이를 만나보세요!</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="none">
            <a class="ingpage2" data="265,10,N">
              <div class="tmb"><img src="img/main-body/live_10.png" alt="더 편리해진 맥도날드 앱 사용법!"></div>
              <div class="con">
                <strong class="tit">디테일의 차이가 버거의 차이</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="none">
            <a class="ingpage2" data="259,11,N">
              <div class="tmb"><img src="img/main-body/live_11.png" alt="2900원 부터 즐기는 맥모닝 콤보를 만나보세요"></div>
              <div class="con">
                <strong class="tit">더 편리해진 맥도날드 앱 사용법</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="none">
            <a class="ingpage2" data="259,11,N">
              <div class="tmb"><img src="img/main-body/live_12.png" alt="취향저격 쿠폰부터 쏠쏠한 정보까지! 지금 맥도날드 앱 가입하고 쿠폰받자"></div>
              <div class="con">
                <strong class="tit">신선한 맛 가득 담아 알래스카에서 왔다!<br>필레 오 피쉬 출시!</strong><span  ></span>
              </div>
            </a>
          </li>

          <!--   숨겨짐(2)     -->
          <li class="none">
            <a class="ingpage3" data="317,7,N">
              <div class="tmb"><img src="img/main-body/live_13.png" alt="신선한 맛 가득 담아 알래스카에서 왔다!필레 오 피쉬 출시!"></div>
              <div class="con">
                <strong class="tit">2900원부터 즐기는<br>맥모닝 콤보를 만나보세요</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="none">
            <a class="ingpage3" data="306,8,N">
              <div class="tmb"><img src="img/main-body/live_14.png" alt="0.1초에 1잔!  매일 마시는 커피를 더 맛있게"></div>
              <div class="con">
                <strong class="tit">농장에서 레스토랑까지<br>좋은 음식을 제공하기 위한 맥도날드의<br>노력을 확인하세요!</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="none">
            <a class="ingpage3" data="278,9,N">
              <div class="tmb"><img src="img/main-body/live_15.png" alt="디테일의 차이가 버거의 차이"></div>
              <div class="con">
                <strong class="tit">취향저녁 쿠폰부터 쏠쏠한 정보까지!<br>
                  지금 맥도날드 앱 가입하고 쿠폰받자</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="none">
            <a class="ingpage3" data="265,10,N">
              <div class="tmb"><img src="img/main-body/live_16.jpg" alt="더 편리해진 맥도날드 앱 사용법!"></div>
              <div class="con">
                <strong class="tit">맥도날드 버거는 어떻게 만들어질까?<br>전국 매장에서 직접 확인해보세요!</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="none">
            <a class="ingpage3" data="259,11,N">
              <div class="tmb"><img src="img/main-body/live_17.jpg" alt="2900원 부터 즐기는 맥모닝 콤보를 만나보세요"></div>
              <div class="con">
                <strong class="tit">전국 코치들의 체계적이고 전문적인<br>교육을 통해 지역사회 행복에 기여합니다</strong><span  ></span>
              </div>
            </a>
          </li>

          <li class="none">
            <a class="ingpage3" data="259,11,N">
              <div class="tmb"><img src="img/main-body/live_18.png" alt="취향저격 쿠폰부터 쏠쏠한 정보까지! 지금 맥도날드 앱 가입하고 쿠폰받자"></div>
              <div class="con">
                <strong class="tit">귀하의 토지, 건물에 맥도날드를<br>유치하세요!</strong><span  ></span>
              </div>
            </a>
          </li>
        </ul>




      </ul>
      <!-- 더보기버튼 -->
      <div class="btnMore" id="btnMore" >
        <a class="more" id="more">더보기</a>
      </div>
    </div>

    <div class = "aside" id = "aside2">
      <a href="#" class ="goDelivery" id ="goDelivery2" title="새창 열림">Mcdelivery</a>
    </div>
    <button type="button" id = "btnTop" onclick="window.scrollTo(0, 0);">맨 위로 가기</button>


  </div>

  <!-- content sector end -->
  <!-- footer -->

  <div th:replace="common/footer"></div>
</div>
</body>
<!-- 스크롤 이동시, 헤더부분과 오른쪽 이미지부분-->
<script src="js/01scroll-fix.js"></script>

<script src="js/mainpromotion.js"></script>

<!-- 아래 + 버튼 부분 -->
<script src="js/02button+.js"></script>
<!-- header- search 부분 -->
<script src="js/03search.js"></script>
<script src="js/main.js"></script>


</html>